@model IEnumerable<BookStoreApp.Models.BookViewModel>
@{
}
<form asp-action="ListOfBook" method="get">
    <div class="form-group row">
        <input type="text" name="bookName" class="form-control" />
        <input type="submit" class="btn btn-success" value="Search" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Publish Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Author</td>
                <td>@item.Price</td>
                <td>@item.PublishDate</td>
            </tr>
        }
    </tbody>
</table>
