@model IEnumerable<BookStoreApp.Models.BookViewModel>

<form asp-action="ListOfBook" method="get">
    <div class="form-group row">
        <div class="col-1">Search : </div>
        <div class="col-7">
            <input type="text" name="bookName" class="form-control " />
        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-success col-4" value="Search" />
        </div>
    </div>
</form>
<table class="table p-4">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Publish Date</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Author</td>
                <td>@item.Price</td>
                <td>@item.PublishDate</td>
            </tr>
        }
    </tbody>
</table>
